[submodule "BGs_nest"]
	path = BGs_nest
	url = https://github.com/marcobiasizzo/BGs_nest
[submodule "Cereb_nest"]
	path = Cereb_nest
	url = https://github.com/marcobiasizzo/Cereb_nest
[submodule "nest_multiscale"]
	path = nest_multiscale
	url = https://github.com/marcobiasizzo/nest_multiscale.git
[submodule "nest_utils"]
	path = nest_utils
	url = https://github.com/marcobiasizzo/nest_utils
